# TD1 : Approche procédurale - tester en python 
*upload : September 2022 C. Dezan & R. Bajon* : **Version pdf du TD** -> [https://github.com/RaphaelBajon/object-oriented-project](https://github.com/RaphaelBajon/object-oriented-project)

## Type de données

In [1]:
type(3)

int

In [2]:
print(type(3))

<class 'int'>

In [7]:
type(3.4)

float

In [4]:
type('3,4')

str

In [5]:
type("3.4")

str

In [6]:
type(3/4)

float

In [24]:
(3 == 4)

False

In [10]:
type(3==4)

bool

In [4]:
#la sortie de input est une chaine de caractère par défaut mais on peut caster la valeur
x=input("val\n") #ou X=str(input("val\n"))
print('type',type(x))
y=int(x)
print('type',type(y))

val
78
type <class 'str'>
type <class 'int'>

In [8]:
"hello "*10

'hello hello hello hello hello hello hello hello hello hello '

In [1]:
x=int(input("valeur?"))
res=x*10
print(res)

valeur?6
60

In [6]:
x=str(input("valeur?"))
res=x*10
print(res)

valeur?6
6666666666

In [4]:
x1=0
x=0 if x1==3 else 5
print(x)

5

## Structure de contrôle

In [8]:
#expression équivalente
x1=0
if x1==3:
    x=0
else: x=5
print(x)

5

max :

In [5]:
a=int(input("a?"))
b=int(input("b?"))
c=int(input("c?")) 
if a<b:
    max=b
else:
    max=a
if c>max:
    max=c
print(max)

a?2
b?5
c?3
5

Median :

In [4]:
a=int(input("a?"))
b=int(input("b?"))
c=int(input("c?")) 
if a<b:
    if c<a:
        valmed=a
    elif c<b:
        valmed=b
    else:
        valmed=b
elif c<b:
    valmed=b
elif c<a:
    valmed=c
else: 
    valmed=a
print(valmed)

a?7
b?5
c?9
7

In [6]:
n=int(input("n?"))
sum=0
for i in range(n):
    prix=float(input("valeur?"))
    sum+=prix
print(sum)

n?3
valeur?2
valeur?4
valeur?1
7.0

In [13]:
somme = 100
prix = float(input("val?"))
n = 0
while somme - prix >= 0:
    somme = somme - prix
    prix = float(input("val?"))
    n += 1
print("somme restante", somme)
print("nb d'article", n)

val? 10
val? 58
val? 45

somme restante 32.0
nb d'article 2

## Fonctions

In [16]:
def f1(x):
    return x**2 - 4 * x + 3
f1(0)

3

In [17]:
def f2(a,b,c):
    dis= b**2 - 4 * a * c
    if (dis>0) and (a!=0):
        x1= (- b - dis**0.5) / (2 * a)
        return x1
    elif (a == 0):
        return -c / b
    else: 
        None
f2(1, -4, 3)

1.0

In [18]:
f1(f2(1,-4,3))

0.0

Fin du TD1

In [5]:
liste = [6, 8, 2, 6]
print(liste[0])

6

In [7]:
liste[0]=5
print(liste)

[5, 8, 2, 6]

In [8]:
type([1, 2, 4])

list

In [11]:
t = (1, 2, 3, 4)
print(type(t))
print(t[0])

<class 'tuple'>
1

In [12]:
t[1] = 4
print(t) #on ne peut pas modifier un tuple

TypeError: 'tuple' object does not support item assignment

## Option : tri à bulles

Faire un tri à bulle pour trier une liste pour les plus avancés avec des listes

In [15]:
def tri_bulle(tab):
    n = len(tab)
    # Traverser tous les éléments du tableau
    for i in range(n):
        for j in range(0, n-i-1):
            # échanger si l'élément trouvé est plus grand que le suivant
            if tab[j] > tab[j+1] :
                tab[j], tab[j+1] = tab[j+1], tab[j]
    return tab

In [16]:
tri_bulle(liste)

[2, 5, 6, 8]