TD1: Approche procédurale -tester en python 
(mis à jour: Janvier 2022)

type, E/S

In [1]:
type(3)

int

In [2]:
print(type(3))

<class 'int'>

In [7]:
type(3.4)

float

In [4]:
type('3,4')

str

In [5]:
type("3.4")

str

In [6]:
type(3/4)

float

In [10]:
type(3==4)

bool

In [4]:
#la sortie de input est une chaine de caractère par défaut mais on peut caster la valeur
x=input("val\n") #ou X=str(input("val\n"))
print('type',type(x))
y=int(x)
print('type',type(y))

val
78
type <class 'str'>
type <class 'int'>

In [8]:
"hello "*10

'hello hello hello hello hello hello hello hello hello hello '

In [1]:
x=int(input("valeur?"))
res=x*10
print(res)

valeur?6
60

In [6]:
x=str(input("valeur?"))
res=x*10
print(res)

valeur?6
6666666666

In [4]:
x1=0
x=0 if x1==3 else 5
print(x)

5

In [8]:
#expression équivalente
x1=0
if x1==3:
    x=0
else: x=5
print(x)

5

In [5]:
a=int(input("a?"))
b=int(input("b?"))
c=int(input("c?")) 
if a<b:
    max=b
else:
    max=a
if c>max:
    max=c
print(max)

a?2
b?5
c?3
5

In [4]:
a=int(input("a?"))
b=int(input("b?"))
c=int(input("c?")) 
if a<b:
    if c<a:
        valmed=a
    elif c<b:
        valmed=b
    else:
        valmed=b
elif c<b:
    valmed=b
elif c<a:
    valmed=c
else: 
    valmed=a
print(valmed)

a?7
b?5
c?9
7

In [6]:
n=int(input("n?"))
sum=0
for i in range(n):
    prix=float(input("valeur?"))
    sum+=prix
print(sum)

n?3
valeur?2
valeur?4
valeur?1
7.0

In [7]:
sum=100
prix=float(input("val?"))
n=0
while sum-prix>=0:
    sum=sum-prix
    prix==float(input("val?"))
    n+=1
print("somme restante", sum)
print("nb d'article",n)

val?56
val?56
somme restante 44.0
nb d'article 1

In [9]:
print("somme restante\n nouou")

somme restante
 nouou

In [10]:
def f1(x):
    return x**2 -4*x +3
f1(3)

0

In [14]:
def f2 (a,b,c):
    dis= b**2-4*a*c
    if (dis>0) and (a!=0):
        x1= (-b-dis**0.5)/2*a
        return x1
    elif a==0:
        return -c/b
    else: 
        None
f2(1,-4,3)

1.0

In [15]:
f1(f2(1,-4,3))

0.0

Fin du TD1

In [21]:
liste=[6,8,2,6]
print(liste[0])

6

In [22]:
liste[0]=5
print(liste)

[5, 8, 2, 6]

In [23]:
type([1,2,4])

list

In [29]:
t=(1,2,3,4)
type(t)
print(t[0])

1

In [30]:
t[1]=4
print(t) #on ne peut pas modifier un tuple

TypeError: 'tuple' object does not support item assignment

Faire un tri à bulle pour trier une liste pour les plus avancés avec des listes